<h1>Edit Compliment</h1>

<form method="post" action="/compliments/?_method=UPDATE">
  <input type='text' name='compliment' value="{{compliment}}">
  <input type='submit' value="Edit Compliment"/>
</form>
